#[link(name = "openal", 
       vers = "0.1",
       uuid = "9450DF9F-7A40-4087-BF6C-0848693D15DC",
       author = "Brendan Zabarauskas",
       url = "https://github.com/bjz/openal-rs")];

#[comment = "OpenAL 1.1 bindings for Rust."];
#[crate_type = "lib"];

#[nolink]
#[link_args="-framework OpenAL"]
#[cfg(target_os = "macos")]
pub extern mod linkhack {}

#[nolink]
#[link_args="-lopenal"]
#[cfg(target_os = "linux")]
pub extern mod linkhack {}

/// Core OpenAL typedefs
pub mod types;

/// Core OpenAL consts
pub mod consts;

/// Low-level function bindings
pub mod ll;

/// Basic AL wrapper functions 
pub mod al;

/// Basic ALC wrapper functions 
pub mod alc;

/// High level wrapper for the OpenAL API
pub mod hl;